<div>
    <ul class="mt-5 pt-5" id="myNav">
          <li class="nav-item myNavItem">
            <a
              class="nav-link text-white"
              asp-area=""
              asp-controller="Borrowing"
              asp-action="Index"
              ><i class="fas fa-bars mx-1"></i> Book Issuance</a>
          </li>
          <li class="nav-item myNavItem">
            <a
              class="nav-link text-white"
              asp-area=""
              asp-controller="Book"
              asp-action="Index"
              ><i class="fas fa-book mx-1"></i> Book Management</a>
          </li>
          <li class="nav-item myNavItem">
            <a
              class="nav-link text-white"
              asp-area=""
              asp-controller="Student"
              asp-action="Index"
              ><i class="fas fa-user-graduate mx-1"></i>Student Management</a>
          </li>

          <li class="nav-item myNavItem">
            <a
              class="nav-link text-white"
              asp-area=""
              asp-controller="Form"
              asp-action="Index"
              ><i class="fas fa-school mx-1"></i> Class Management
            </a>
          </li>
          <li class="nav-item myNavItem">
            <a
              class="nav-link text-white"
              asp-area=""
              asp-controller="Borrowing"
              asp-action="OverDue"
              ><i class="fas fa-calendar-times-o mx-1"></i>OverDue Issuance
            </a>
          </li>
          <li class="nav-item myNavItem">
            <a
              class="nav-link text-white"
              asp-area=""
              asp-controller="Borrowing"
              asp-action="IssuanceHistory"
              ><i class="fas fa-history mx-1"></i> Issuance History
            </a>
          </li>
    </ul>

    <h3 class="text-white mx-2 my-2">ADMINISTRATOR</h3>
        <ul class="mt-2 pt-2" id="myNav">
            <li class="nav-item myNavItem">
            <a
              class="nav-link text-white"
              asp-area=""
              asp-controller="Administrator"
              asp-action="Index"
              ><i class="fas fa-users mx-1"></i>Users Management</a>
          </li>

        </ul>

        <footer class="sidebar-footer">
            
            <div class="container text-white text-center">
                <p class="text-center text-white">&copy; 2021-2022 - AMOS ICT SERVICES</p>
                <p class="text-center text-white">0702240787 | amosndonga@gmail.com</p>
                
            </div>

        </footer>
</div>


